.App {
  font-family: sans-serif;
  text-align: center;
  margin: 5rem 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 90vh;
}
.user-input {
  width: 80%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  margin: 1.5rem 0rem;
}
.meaning-output {
  margin: auto;
  width: 70%;
  height: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  /* border: 0.2rem solid black; */
  /* padding: 1rem; */
}
.emozies-div {
  /* background-color: white; */
  border-radius: 0.7rem;
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  color: black;
}
.emozies {
  margin: 0rem 0.8rem;
  padding: 0;
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .user-input {
    width: 90%; /* Adjust width for mobile */
    font-size: 1.2rem; /* Adjust font size for mobile */
  }

  .meaning-output {
    font-size: 1.2rem; /* Adjust font size for mobile */
  }

  .emozies-div {
    width: 90%;
    padding: 0.5rem; /* Adjust padding for mobile */
  }

  .emozies {
    font-size: 1.5rem; /* Adjust font size for mobile */
  }
}
